  * {
    margin: 0;
    padding: 0;
  }

  /*estilos del body en general*/

  body {
    background-image: url(../multimedia/background-img.jpg);
    background-color: rgba(0, 0, 0, 0.445);
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    padding-bottom: 150px;
  }

  .titulos {
    padding: 10px 0 10px 0;
    color: red;
    text-shadow: 0 0 30px red, 0 0 0px red, 0 0 15px red;
    font-family: 'Martel', serif;
    font-size: 45px;
  }

  main p {
    color: white;
    line-height: 35px;
    background-color: rgba(0, 0, 0, 0.7);
    font-family: 'Dosis', sans-serif;
    text-align: center;
    margin: 20px 0 20px 0;
    padding: 50px;
    font-size: 23px;
  }

  /* estilos del header */

  nav {
    margin: 0 0 20px 0;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .tobi-li a {
    color: white;
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium',
      'Arial Narrow',
      Arial,
      sans-serif;
    font-size: 17px;
  }

  .tobi-li a:hover {
    color: red;
  }

  .nav-tobi {
    padding: 20px;
  }

  ul {
    gap: 20px;
  }

  span i {
    font-size: 35px;
  }

  .navbar-toggler {
    padding: 0 12px 0 12px;
    border: none;
  }

  .navbar-toggler:focus {
    box-shadow: none;
  }

  /*estilos del index*/

  .main-index {
    padding: 0;
  }

  .resident {
    margin: 50px 0 100px 0;
  }

  /* estilos de trailers */

  .iframe {
    margin-bottom: 55px;
    margin-top: 30px;
  }

  /* estilos de personajes */

  .tarjeta-tobi {
    padding: 0;
    margin: 20px 0 20px 0;
    border: none;
    background-color: rgba(0, 0, 0, 0.7);
    width: 20rem;
  }

  .texto-tarjeta-tobi {
    padding: 14px;
    background-color: transparent;
    border: 1px solid white;
    font-size: 17px;
    text-align: start;
    line-height: 25px;
  }

  .imagen-tarjeta-tobi {
    border: 1px solid white;
  }

  /* estilos de galeria */

  .carrusel-tobi {
    margin: 50px 0 50px 0;
  }

  /* estilos de sobre el juego */

  .main-sobre-el-juego {
    padding: 0;
  }

  .texto-sobre-el-juego {
    margin-top: 60px;
    font-size: 28px;
    line-height: 60px;
  }

  /* estilos de ubicaciones */

  .mainp {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 50px;
    border: solid white 1px;
    text-align: start;
    padding: 5px 20px 5px 20px;
    font-size: 20px;
    line-height: 35px;
  }

  .main-ubicaciones {
    padding: 0;
  }

  .ubicaciones {
    margin: 20px;
  }

  section {
    margin: 20px 0 60px 0;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 70px black;
  }

  main h2 {
    color: rgb(255, 255, 255);
    font-size: 35px;
    margin-top: 20px;
  }

  /*estilos del footer*/

  i {
    color: white;
    font-size: 25px;
  }

  i:hover {
    color: red;
  }

  footer {
    padding: 20px 0 20px 0;
    background-color: black;
    position: absolute;
    bottom: 0;
  }

  footer h2 {
    margin: 0;
    padding: 0;
    color: red;
    font-size: 25px;
    text-shadow: 0 0 30px red, 0 0 0px red, 0 0 20px red;
    font-family: 'Martel', serif;
    margin-bottom: 35px;
  }


  /* vista mobile */

  @media (max-width: 576px) {

    /* estilos del body en general */

    body {
      background-image: url(../multimedia/background-img-mobile.jpg);
      background-position: center;
      padding-bottom: 120px;
    }

    .titulos {
      font-size: 25px;
      text-align: center;
    }

    /* estilos de personajes */

    .tarjeta-tobi {
      width: 16rem;
    }

    .texto-tarjeta-tobi {
      font-size: 15px;
    }

    /* estilos de ubicaciones */

    main h2 {
      font-size: 20px;
    }

    .mainp {
      padding: 13px;
      font-size: 15px;
      line-height: 25px;
    }

    /* estilos del footer */

    footer h2 {
      font-size: 16px;
      margin-bottom: 25px;
      text-align: center;
    }

    i {
      font-size: 18px;
    }


  }