$margins:
0,
20px,
25px,
30px,
35px,
50px,
55px,
60px,
100px;

$paddings:
0,
5px,
10px,
12px,
13px,
14px,
20px,
50px,
120px,
150px;

$colors:
red,
white,
rgba(0, 0, 0, 0.7),
rgba(0, 0, 0, 0.5),
black,
rgba(0, 0, 0, 0.2);

$fonts-size:
15px,
16px,
17px,
18px,
20px,
22px,
23px,
25px,
30px,
35px,
45px;

$lines-height:
25px,
35px,
40px,
45px,
60px;