$brd-bxshdw: none;
$font-tittles: 'Martel',
serif;
$font-texts: 'Dosis',
sans-serif;
$font-nav: 'Franklin Gothic Medium',
'Arial Narrow',
Arial,
sans-serif;
$txt-algn-strt: start;
$txt-algm-cntr: center;