
footer {
    padding: nth($paddings, 7) nth($paddings, 7);
    background-color: nth($colors, 5);
    position: absolute;
    bottom: 0;

    h2 {
        margin: nth($margins, 1);
        padding: nth($paddings, 1);
        color: nth($colors, 1);
        font-size: nth($fonts-size, 8);
        margin-bottom: nth($margins, $n: 5);
        text-shadow: 0 0 30px red,
            0 0 0px red,
            0 0 20px red;
        font-family: $font-tittles;
    }

    i {
        color: nth($colors, 2);
        font-size: nth($fonts-size, 8);
        transition: all 0.5s;
        
            &:hover {
                color: nth($colors, 1);
                transform: scale(1.3);
            }
    }
}