
nav {
    margin-bottom: nth($margins, 2);
    background-color: nth($colors, 3);
}

.tobi-li a {
    color: nth($colors, 2);
    text-decoration: underline;
    font-family: $font-nav;
    font-size: nth($fonts-size, 3);

    &:hover {
        color: nth($colors, 1);
    }
}

.nav-tobi {
    padding: nth($paddings, 7);
}

ul {
    gap: 20px;
}

span i {
    font-size: nth($fonts-size, 10);
    color: nth($colors, 2);

    &:hover {
        color: nth($colors, 1);
    }
}

.navbar-toggler {
    padding-left: nth($paddings, 4);
    padding-right: nth($paddings, 4);
    border: $brd-bxshdw;

    &:focus {
        box-shadow: $brd-bxshdw;
    }
}