.tarjeta-tobi {
    padding: nth($paddings, 1);
    margin-top: nth($margins, 2);
    margin-bottom: nth($margins, 2);
    border: $brd-bxshdw;
    background-color: nth($colors, 3);
    width: 20rem;
}

.texto-tarjeta-tobi {
    padding: nth($paddings, 6);
    background-color: transparent;
    font-size: nth($fonts-size, 3);
    text-align: $txt-algn-strt;
    line-height: nth($lines-height, 1);
    @extend %brd;
}

.imagen-tarjeta-tobi {
    @extend %brd;
}