.texto-ubicaciones {
    background-color: nth($colors, 4);
    margin-top: nth($margins, 6);
    margin-bottom: nth($margins, 6);
    text-align: $txt-algm-cntr;
    padding: nth($paddings, 2) nth($paddings, 7) nth($paddings, 2) nth($paddings, 7);
    font-size: nth($fonts-size, 5);
    line-height: nth($lines-height, 2);
    @extend %brd;
}

.main-ubicaciones {
    padding: nth($paddings, 1);
}

.div-ubi {
    margin-right: nth($margins, 1);
}

.ubicaciones {
    margin: nth($margins, 2);
}

main {
    section {
        margin-top: nth($margins, 2);
        margin-bottom: nth($margins, 8);
        margin-right: nth($margins, 1);
        background-color: nth($colors, 4);
        overflow-x: hidden;

        h2 {
            color: nth($colors, 2);
            font-size: nth($fonts-size, 10);
            margin-top: nth($margins, 2);
        }
    }
}

